[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hydroState"]
	path = hydroState
	url = https://github.com/peterson-tim-j/hydrostate
